.cover__subtitle {

  width: 382px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  z-index: 2;
  margin: 0 auto 42px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 24px;
    width: 90%;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 374px) {
  .cover__subtitle {
    width: 288px;
    font-size: 13px;
    margin-bottom: 33px;
    margin-top: 13px;
    line-height: 16px;
  }
}
