.lead__title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 720px;
  margin: 56px auto 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin-top: 50px;
  margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 80%;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 374px) {
  .lead__title {
    margin-top: 20px;
  }
}
