.place__paragraph {
    max-width: 484px;
    font-size: 18px;
    line-height: 30px;
    margin-top:0;
}


@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-top: 24px;
        margin-bottom: 0;
        width: 70%;
        margin-left: 16px;
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 374px) {

    .place__paragraph {
        max-width: 310px;
        width: 90%;
    }
}