.lead__subtitle {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 71px;
  width: 640px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .lead__subtitle {
    width: 80%;
    font-size: 16px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .lead__subtitle {
    width: 80%;
    margin-top: 16px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0;
  }
}
