.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-bottom: 45px;
}


@media screen and (max-width: 1023px) {
    .place__website {
        margin-left: 20px;
    }

}

@media screen and (max-width: 767px) {
    .place__website {
        display: none;
    }

}